<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parking Manager</title>
    <style th:inline="none">
        @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
        body{
            font-family: "JetBrains Mono", Arial, sans-serif;
        }
        h1, a{
            transition: 0.2s;
        }
        h1:hover{
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <a th:href="@{/parkizo/car/ui/list}">RETURN</a>
    <h1>REGISTER A CAR</h1>
    <form th:action="@{/parkizo/car/ui/save}" th:object="${car}" method="post">

        <label for="licensePlate">LICENSE PLATE: </label>
        <input type="text" id="licensePlate" th:field="*{licensePlate}" required />

        <button type="submit">REGISTER</button>

    </form>
</body>
</html>